
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md px-0">
            <a href="/home/manCategories/1"><img class="men" src="~/content/image/man_winter.jpg" alt="stylish model"></a>
        </div>
        <div class="col-md px-0">
            <a href="/home/womenCategories/2"><img class="women" src="~/content/image/woman_winter.jpg" alt="stylish model"></a>
        </div>
    </div>
</div>

