<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <style type="text/css">
        a {
            color: black;
        }

            a:link {
                text-decoration: none;
            }

        .navfont {
            font-size: 0.9rem;
            display: none;
        }

        .wrapper {
            display: none;
        }

        a:hover {
            color: black;
        }

        @@media only screen and (max-width: 805px) {
            .hide {
                display: none;
            }

            .wrapper {
                display: block;
            }

            .navfont {
                font-size: 0.9rem;
                display: block;
            }
        }
    </style>
    
</head>
<body>
    
    <header>
        @Html.Action("NavBar", "Category")
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div class="container-fluid bg-dark p-3 my-2">
            <div class="container">

                <div class="row">
                    <div class="col text-center">
                        <a class="p-4 text-white" href="#"><i class="fab fa-facebook-f fa-2x"></i></a>
                        <a class="p-4 text-white" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                        <a class="p-4 text-white" href="#"><i class="fab fa-youtube fa-2x"></i></a>
                        <a class="p-4 text-white" href="#"><i class="fab fa-twitter fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <form class="form-inline">
                        <p class="ml-1 p-2 mb-1">Newsletter!</p>
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="email" class="form-control" id="inputgmail2" placeholder="enter gmail">
                        </div>
                        <button type="submit" class="ml-2 btn btn-secondary mb-2">subscribe</button>
                    </form>
                    <br>
                    <p class="text-secondary text-center">
                        JNFashion LTD
                        <br>
                        H-90, Flat-6a, R-20, Block-B
                        <br>
                        Kuril, Dhaka
                        <br>
                        Customer Support:+8801798724156
                        <br>
                        Email:jnabin2@gmail.com
                    </p>
                </div>
                <div class="col-md">
                    <ul class="list-unstyled text-center border-left border-dark">
                        <li>
                            <a class="text-uppercase text-secondary" href="#">
                                SHIPPING & EXCHANGE
                                POLICY
                            </a>
                        </li>
                        <li>
                            <a class="text-uppercase text-secondary" href="#">PRIVACY POLICY</a>
                        </li>
                        <li>
                            <a class="text-uppercase text-secondary" href="#">Terms and condition</a>
                        </li>
                        <li>
                            <a class="text-uppercase text-secondary" href="#">About us</a>
                        </li>
                        <li>
                            <a class="text-uppercase text-secondary" href="#">Login info</a>
                        </li>
                        <li>
                            <a class="text-uppercase text-secondary" href="#">Size Guide</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md">
                    <ul class="list-unstyled text-center border-left border-dark">
                        <li>
                            <a class="text-uppercase text-secondary" href="#">contact us</a>
                        </li>
                        <li class="text-secondary">
                            helpline: 01798724156

                        </li>

                        <li>
                            <a class="text-uppercase text-secondary" href="#">store location</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <p class="text-uppercase text-muted">copyright &copy; 2021 jnshop, all rights reserved. developed by team jn.</p>
                </div>
                <div class="col-md text-center">
                    <ul class="list-unstyled folist">
                        <li class="f1"><img style="height:40px" src="~/content/image/i.png" alt="paying_system"></li>
                        <li class="f1"><img style="height:40px" src="~/content/image/i.png" alt="paying_system"></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/content/js/main.js"></script>
</body>
</html>
